- wrap_layout :layout do

  - content_for :head do
    = javascript_include_tag 'vendor/jquery.prettyPhoto'
    = stylesheet_link_tag 'vendor/prettyPhoto'

  %h1=current_dress.name

  .page-body
    .images
      = link_to current_dress.large_images.first, :class => 'main', :'data-rel' => "prettyPhoto[#{current_dress.name}]" do
        = image_tag current_dress.large_images.first

      - current_dress.large_images[1..-1].each do |image|
        = link_to '', image, :'data-rel' => "prettyPhoto[#{current_dress.name}]"

    .info
      .description
        %h2='Description'
        = yield

      .navigation<
        = link_to('<', current_dress.previous.url, :rel => :previous) if current_dress.previous
        = link_to('>', current_dress.next.url, :rel => :next) if current_dress.next