- wrap_layout :layout do

  - content_for :head do
    = javascript_include_tag 'vendor/jquery.prettyPhoto'
    = stylesheet_link_tag 'vendor/prettyPhoto'

  %h1=current_dress.name

  .page-body
    .images
      = link_to current_dress.large_image_url(1), :class => 'main', :'data-rel' => "prettyPhoto[#{current_dress.name}]" do
        = image_tag current_dress.large_image_url

      = link_to current_dress.large_image_url(2), '', :'data-rel' => "prettyPhoto[#{current_dress.name}]"
      = link_to current_dress.large_image_url(3), '', :'data-rel' => "prettyPhoto[#{current_dress.name}]"

    .info
      .description
        %h2='Description'
        = yield

      .navigation<
        = link_to('<', current_dress.previous.url, :rel => :previous) if current_dress.previous
        = link_to('>', current_dress.next.url, :rel => :next) if current_dress.next