- wrap_layout :layout do

  - content_for :head do
    = javascript_include_tag 'vendor/jquery.prettyPhoto'
    = stylesheet_link_tag 'vendor/prettyPhoto'
    = javascript_include_tag 'vendor/jquery.slides.min'
    = javascript_include_tag 'dress.jquery.slides.init'

  %h1=current_dress.name

  .page-body
    #slides
      - current_dress.large_images.each do |image|
        = link_to image, :'data-rel' => "prettyPhoto[#{current_dress.name}]" do
          = image_tag image

    .info
      .description
        %h2='Description'
        = yield

      .navigation<
        = link_to('<', current_dress.previous.url, :rel => :previous, :class => 'dress-nav') if current_dress.previous
        = link_to('>', current_dress.next.url, :rel => :next, :class => 'dress-nav') if current_dress.next