- content_for :head do
  = javascript_include_tag 'vendor/jquery.easing.1.3'
  = javascript_include_tag 'vendor/jquery.elegantcarousel.min'

.splash

.carousel
  .carousel_container.dresses
    %ul
      - dresses.each_with_index do |dress|
        %li
          = link_to dress.url, :class => "dress" do
            = image_tag dress.small_images.first, :alt => dress.alt, :title => dress.alt
  .navigation<
    = link_to('<', '', :rel => :previous, :class => 'dress-nav carousel_prev carousel_left')
    = link_to('>', '', :rel => :next, :class => 'dress-nav carousel_next carousel_right')